<!-- Auto collapsible section menu -->
<ul class="list-unstyled collapsible-sidebar">
  {{ $currentPage := . -}}
  {{ $section := $currentPage.Section -}}
  {{ range (where .Site.Sections "Section" "in" $section) }}

  <li class="mb-1">
    <div id="section-{{ md5 .Title }}">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        {{ range .Pages }}
        {{ $active := in $currentPage.RelPermalink .RelPermalink }}
        {{ if .IsNode }}
        <li class="ms-3">
          <a class="docs-link{{ if $active }} active{{ end }}" href="{{ .Permalink }}">{{ .Title }}</a>

          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            {{ range .Pages }}
            {{ if .IsSection }}
            {{ $active := eq $currentPage.RelPermalink .RelPermalink }}
            <li class="ms-3">
              <a class="docs-link{{ if $active }} active{{ end }}" href="{{ .Permalink }}">{{ .Title }}</a>
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                {{ range .Pages }}
                {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                <li class="ms-3"><a class="docs-link{{ if $active }} active{{ end }}" href="{{ .Permalink }}">{{ .Title }}</a></li>
                {{ end }}
              </ul>
            </li>
            {{ else }}
            {{ $active := in $currentPage.RelPermalink .RelPermalink }}
            <li class="ms-3"><a class="docs-link{{ if $active }} active{{ end }}" href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
            {{ end }}
          </ul>
        </li>
        {{ else }}
        {{ $active := in $currentPage.RelPermalink .RelPermalink }}
        <li class="ms-3"><a class="docs-link{{ if $active }} active{{ end }}" href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
        {{ end }}
      </ul>
    </div>
  </li>
  {{ end }}
</ul>
