.home,
.contributors.list,
.blog.list,
.blog.single,
.categories.list,
.tags.list,
#content-tiles {
  .card {
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition: transform 0.3s;
    border: none;
    border-radius: 0;

    &:hover {
      transform: scale(1.025);
    }
  }

  .card-body {
    padding: 0 2rem 1rem;
    background-color: #f4f7fa;
    border: 1px solid $gray-200;
    border-radius: 0.375rem;
  
    [data-dark-mode] & {
      background-color: #292e33;
      border-color: $gray-800;
    }
  }
}

.contributors.list .card.card-terms:hover,
.categories.list .card.card-terms:hover,
.tags.list .card.card-terms:hover {
  transform: none;
}

.contributors.list .card-terms .card-body,
.categories.list .card-terms .card-body,
.tags.list .card-terms .card-body {
  padding: 1rem;
}

.project-header {
  text-align: center;
  margin-bottom: 2rem;
}

.related-posts {
  margin-top: 4rem;
}

h2.section-title {
  margin-bottom: 1.25rem;
}
