{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <h1 class="text-center">{{ .Title }}</h1>
    <div class="text-center">{{ .Content }}</div>
    <div class="card-list">
      {{ range .Paginator.Pages }}
        <div class="card card-terms my-3">
          <div class="card-body">
            <article>
              <a class="stretched-link" href="{{ .RelPermalink }}">{{ .Params.title }} &rarr;</a>
            </article>
          </div>
        </div>
      {{ end }}
    </div>
    {{ template "_internal/pagination.html" . }}
  </div>
</div>
{{ end }}
