{{ define "main" }}
<section class="hero section" style="padding-top: 4rem; padding-bottom: 3.5rem; background: linear-gradient(45deg, #1042dd 0%, #31b9ff 100%); border-radius: .5rem;">
  <div class="container">
    <h1 class="px-xl-4 mt-0 text-white">{{ .Title }}</h1>
    <p class="px-xl-4 lead text-white" style="font-size: 1.3rem; margin-bottom: 1.5rem;">{{ .Params.description | safeHTML }}</p>
    <p class="px-xl-4"><a class="btn btn-primary btn-lg px-4" href="/over/" role="button">{{ i18n "read-more" }} &rarr;</a></p>
  </div>
</section>

<section class="section container pt-0">
  <h2 class="px-xl-4">Projecten in Digilab:</h2>
  <div class="row px-xl-4">
    {{ range where .Site.RegularPages.ByTitle "Section" "projecten" }}
    <div class="col-sm-8">
      <div class="card">
        {{ partial "content/card-image.html" . }}
        <div class="card-body">
          <h3 class="card-title h5 mb-2">{{ .Params.title }}</h3>
          <p>{{ .Params.description }}</p>
          <a class="btn btn-primary px-4 stretched-link" href="{{ .RelPermalink }}" style="font-size: 1.125rem;">{{ i18n "read-more" }}</a>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>

<section class="section container pt-0 text-center">
  <h1 class="display-5 mb-5" style="font-weight: 500;">Meewerken aan Digilab?</h1>
  <a class="btn btn-primary btn-lg px-4" href="/contact/" role="button">Neem contact op</a>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
