{{ define "main" }}

{{ partial "header/puzzels.html" (dict "Title" .Title "Content" .Content) }}

<div class="row row-cols-1 row-cols-lg-2 g-lg-5 mb-5">
  {{ $paginator := .Paginate .Data.Pages -}}
  {{ range $paginator.Pages -}}
  <div class="col">
    <div class="card">
      <div class="card-header" style="padding: 1rem 0; color: #acc9e5; background-color: #e7f2fc;">
        <svg style="display: block; margin: 0 auto; width: 5rem; height: 5rem;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7h3a1 1 0 0 0 1-1V5a2 2 0 0 1 4 0v1a1 1 0 0 0 1 1h3a1 1 0 0 1 1 1v3a1 1 0 0 0 1 1h1a2 2 0 0 1 0 4h-1a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1h-3a1 1 0 0 1-1-1v-1a2 2 0 0 0-4 0v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h1a2 2 0 0 0 0-4H4a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1"/></svg>
      </div>
      <div class="card-body">
        <article>
          <h2 class="h4 mt-0"><a class="stretched-link text-body" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
          <p>{{ .Summary }}</p>
        </article>
      </div>
    </div>
  </div>
  {{ end -}}
</div>

<div class="container d-flex justify-content-center">
  {{ $.Scratch.Set "paginator" true }}
  {{ template "_internal/pagination.html" . }}
</div>
{{ end }}
