<div class="row justify-content-center">
  <div class="col-md-12 col-lg-9">
    <h1 class="text-center">{{ .Title }}</h1>
    {{ with .Content -}}<div class="text-center mb-5">{{ . }}</div>{{ end -}}
  </div>
</div>

<style>
.puzzles-head {
  color: #0a2885;
  font-weight: bold;
}

[data-dark-mode] body .puzzles-head {
  color: #0ea5e9;
}

#puzzles a {
  font-size: 0.875em;
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  background-color: #e7f2fc;
  height: 100%;
  border-radius: 3px;
  text-decoration: none;
}

#puzzles a:hover {
  background-color: #d9edff;
}

#puzzles .active a {
  color: #fff;
  background-color: #0a2885;
}

[data-dark-mode] body #puzzles .active a {
  background-color: #0ea5e9;
}

@media (max-width: 575.98px) {
  #puzzles > :nth-child(1) {
    order: 1;
  }

  #puzzles > :nth-child(2) {
    order: 5;
  }

  #puzzles > :nth-child(3) {
    order: 9;
  }

  #puzzles > :nth-child(4) {
    order: 13;
  }


  #puzzles > :nth-child(5) {
    order: 2;
  }

  #puzzles > :nth-child(6) {
    order: 6;
  }

  #puzzles > :nth-child(7) {
    order: 10;
  }

  #puzzles > :nth-child(8) {
    order: 14;
  }


  #puzzles > :nth-child(9) {
    order: 3;
  }

  #puzzles > :nth-child(10) {
    order: 7;
  }

  #puzzles > :nth-child(11) {
    order: 11;
  }

  #puzzles > :nth-child(12) {
    order: 15;
  }


  #puzzles > :nth-child(13) {
    order: 4;
  }

  #puzzles > :nth-child(14) {
    order: 8;
  }

  #puzzles > :nth-child(15) {
    order: 12;
  }

  #puzzles > :nth-child(16) {
    order: 16;
  }
}
</style>

<div id="puzzles" class="row gx-4 gy-3 mb-5">
  <div class="col-16 col-sm-4 text-center text-uppercase puzzles-head">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: block; width: 4rem; height: 4rem; margin: 0 auto;" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 6a2 2 0 1 0 4 0a2 2 0 1 0-4 0m0 12a2 2 0 1 0 4 0a2 2 0 1 0-4 0M3 12a2 2 0 1 0 4 0a2 2 0 1 0-4 0m4 0h3l3.5 6H17m0-12h-3.5L10 12"/></svg>
    Interoperabiliteit
  </div>
  <div class="col-16 col-sm-4 text-center text-uppercase puzzles-head">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: block; width: 4rem; height: 4rem; margin: 0 auto;" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3a12 12 0 0 0 8.5 3A12 12 0 0 1 12 21A12 12 0 0 1 3.5 6A12 12 0 0 0 12 3"/></svg>
    Vertrouwen
  </div>
  <div class="col-16 col-sm-4 text-center text-uppercase puzzles-head">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: block; width: 4rem; height: 4rem; margin: 0 auto;" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M6 5h12l3 5l-8.5 9.5a.7.7 0 0 1-1 0L3 10l3-5"/><path d="M10 12L8 9.8l.6-1"/></g></svg>
    Datawaarde
  </div>
  <div class="col-16 col-sm-4 text-center text-uppercase puzzles-head">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: block; width: 4rem; height: 4rem; margin: 0 auto;" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 20h10M6 6l6-1l6 1m-6-3v17m-3-8L6 6l-3 6a3 3 0 0 0 6 0m12 0l-3-6l-3 6a3 3 0 0 0 6 0"/></svg>
    Governance
  </div>

  <div class="col-16 col-sm-4{{ if eq .active "Interoperabiliteit > Modellen"}} active{{end}}"><a href="/puzzel-categorie/interoperabiliteit-modellen/">Modellen</a></div>
  <div class="col-16 col-sm-4{{ if eq .active "Vertrouwen > Identiteit"}} active{{end}}"><a href="/puzzel-categorie/vertrouwen-identiteit/">Identiteit</a></div>
  <div class="col-16 col-sm-4{{ if eq .active "Datawaarde > Metadata"}} active{{end}}"><a href="/puzzel-categorie/datawaarde-metadata/">Metadata</a></div>
  <div class="col-16 col-sm-4{{ if eq .active "Governance > Bestuurlijk"}} active{{end}}"><a href="/puzzel-categorie/governance-bestuurlijk/">Bestuurlijk</a></div>
  
  <div class="col-16 col-sm-4{{ if eq .active "Interoperabiliteit > Dataservices"}} active{{end}}"><a href="/puzzel-categorie/interoperabiliteit-dataservices/">Dataservices</a></div>
  <div class="col-16 col-sm-4{{ if eq .active "Vertrouwen > Toegang"}} active{{end}}"><a href="/puzzel-categorie/vertrouwen-toegang/">Toegang</a></div>
  <div class="col-16 col-sm-4{{ if eq .active "Datawaarde > Verantwoording"}} active{{end}}"><a href="/puzzel-categorie/datawaarde-verantwoording/">Verantwoording</a></div>
  <div class="col-16 col-sm-4{{ if eq .active "Governance > Operationeel"}} active{{end}}"><a href="/puzzel-categorie/governance-operationeel/">Operationeel</a></div>

  <div class="col-16 col-sm-4{{ if eq .active "Interoperabiliteit > Traceerbaarheid"}} active{{end}}"><a href="/puzzel-categorie/interoperabiliteit-traceerbaarheid/">Traceerbaarheid</a></div>
  <div class="col-16 col-sm-4{{ if eq .active "Vertrouwen > Veiligheid"}} active{{end}}"><a href="/puzzel-categorie/vertrouwen-veiligheid/">Veiligheid</a></div>
  <div class="col-16 col-sm-4{{ if eq .active "Datawaarde > Publicatie"}} active{{end}}"><a href="/puzzel-categorie/datawaarde-publicatie/">Publicatie</a></div>
  <div class="col-16 col-sm-4{{ if eq .active "Governance > Beheer"}} active{{end}}"><a href="/puzzel-categorie/governance-beheer/">Beheer</a></div>
</div>
