<div id="content-tiles" class="row">
  {{ range (where .Site.Pages "Section" "in" (slice "docs" "blog" "concepten")) }}
  {{ if or (ne .Section "docs") (eq (len .Ancestors) 3) }}
  <div class="col-sm-8">
    <div class="card">
      <div class="card-body px-4">
        <h2 class="card-title h5 mt-3 mb-1">{{ .Title }}</h2>
        {{ if eq .Section "docs" }}
        <span class="badge bg-success text-uppercase mb-2">docs</span>
        {{ else if eq .Section "blog" }}
        <span class="badge bg-primary text-uppercase mb-2">blog</span>
        {{ else if eq .Section "concepten" }}
        <span class="badge bg-info text-uppercase mb-2">concepten</span>
        {{ end }}
        <p class="mt-1 mb-4">{{ .Params.Lead }}</p>
        <a class="btn btn-primary px-4 stretched-link" href="{{ .Permalink }}">{{ i18n "read-more" }}</a>
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}
</div>
